# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/

# Scala
target/
*.class
*.jar
.scala-build
.metals

# IDEs
.idea/
.vscode/

# Logs
logs/
*.log

# Data
dataset

# Docker
.docker-compose.override.yml

# Environment
config
.env.local
.env.*.local
hadoop.env