# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/

# Scala
target/
*.class
*.jar
.scala-build
.metals

# IDEs
.idea/
.vscode/
*.swp
*.swo
*.sublime-*

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Data
# data/
/dataset

# Docker
.docker-compose.override.yml

# Environment
.env.local
.env.*.local
